.map {
    position: relative;
    height: 83vh;
    width: 75vw;
    margin-left: 25vw;
    top: -2.2vh;
    display: flex;
    flex-direction: column;
    
}
.bodyTotal{
    position:relative;
    height:100vh;
    overflow: hidden;
    
}

.but{
    position:relative;
    height:4vh;
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
    margin-top: 0vh;
    margin-left: 25.8vw;
    border-radius: 10px;
    transition: 1s;
    bottom: 83vh;
}

.but:hover{
    background-color: firebrick;
}