.map {
    position: relative;
    height: 540px;
    margin-left: 25vw;
    
}
.bodyTotal{
    height:100vh;
    width: 100vw;
    bottom: -100px;
    overflow: hidden;
    
}

.but{
    position:relative;
    height:30px;
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
    margin-top: 0px;
    margin-left: 350px;
    border-radius: 10px;
    transition: 1s;
    top: -538px;
}

.but:hover{
    background-color: firebrick;
}